.loginBg {
  height: 100vh;
  width: 100vw;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-footer{
  border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    justify-content: space-between;
}

.card-footer .card-action button:first-child{
  margin-right: 8px;
}

.category{
  display: flex;
  justify-content:flex-end;
  padding: .5rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 2rem !important;
  padding-right: 5px;
  color: initial;
}

.category span{
  margin-left: 5px;
}

.price{
  padding: 1.5rem 0 1rem 0;
  text-align: center
}

.headerWrapper button a{
  color: #fff;
  text-decoration: none;
}

.headerWrapper button a.active{
  text-decoration: underline;
}

.loading{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list{
  margin-top: 30px;
}

.product-list h4{
  margin-bottom: 0;
}

.product a{
  text-decoration: none;
}

.product .cardMediaWrapper{
  height:140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product .cardMediaWrapper img{
  background-position: top;
  height: 100%;
}

.product .heading{
  min-height: 64px;
  color: initial;
}

.product h4{color: #1976d2;}

.product .heading, .product .description{
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;/* Important for long words! */
}

.product .description{
  color: initial;
}

.product-details{
  margin-top: 30px;
}
.product-details-inner{
  padding: 30px;
}
.product-details img{
  width: 30%;
}

.content-wrapper{
  padding: 50px 50px 50px 100px;
}

.product-details .heading5{
  margin-top: 30px;
}

.product-details .heading2{
  font-weight: bold;
  margin-top: 50px;
  color: #1976d2;
}

.product-details .heading3{
  font-weight: bold;
}

.footer-wrapper{
  background-color: #1976d2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 10px;
}

.addProductBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.addProjectPage, .updateProjectPage{
  margin: 30px;
}

.addProjectPage h4, .updateProjectPage h4{
  border-bottom: 2px solid #eee;
  margin-bottom: 30px;
}

.addProjectPage form, .updateProjectPage form{
  display: flex;
  flex-direction: column;
}

.addProjectPage form div, .updateProjectPage form div{
  margin-bottom: 20px;
}

.addProjectPage form div label, .updateProjectPage form div label{
  transform: translate(0, -1.5px) scale(0.75);

}

.addProjectPage form div label.categoryLabel,.updateProjectPage form div label.categoryLabel{
  color: rgba(0, 0, 0, 0.6);
  margin-right: auto;
}

textarea#description{
  height: 60px !important;
}

.addProjectPage img, .updateProjectPage img{
  width: 100%;
}